<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 매퍼의 네임 스페이스 지정 소속을 알리는 역할-->
<mapper namespace="memberMapper">

	<!-- resultMap을 통해 결과를 매핑, 데이터베이스 컬럼과 자바 객체의 필드를 매핑하는데 사용하고 있다. -->
	<resultMap type="Member" id="memberResultMap">
			<!-- 언더바가 들어가는 쿼리문에 한하여 매핑을 해줘야함 -->
			<id property="no" column="NO"/> <!-- id는 기본 키를 의미 -->
			<result property="id" column="ID"/>
			<result property="pw" column="PW"/>
			<result property="name" column="NAME"/>
			<result property="tel" column="TEL"/>
			<result property="createDate" column="CREATED_DATE"/>
	</resultMap>
	
	<insert id="insertMember">
        INSERT
          INTO MEMBER 
        (
          ID
        , PW
        , NAME
        , TEL
        )
        VALUES
        (
          #{ id }
        , #{ pw }
        , #{ name }
        , #{ tel }
        )
	</insert>
	
	<select id="selectEncryptedPwd" parameterType="Member" resultType="java.lang.String">
		SELECT
			PW
		FROM MEMBER
		WHERE ID = #{ id }
	</select>
	
	<select id="selectLoginMember" parameterType="Member" resultMap="memberResultMap">
		SELECT *
		FROM MEMBER
		WHERE ID = #{ id }
	</select>

</mapper>
